# Wymagane zmienne dla środowiska Backend
# Port na którym zostanie uruchomiony serwer
PORT=

# Adres URL Frontendu (do ustawień CORS)
FRONTEND_URL=

# Konfiguracja bazy danych MongoDB (do uzupełnienia)
MONGODB_URI=

# Konfiguracja auth Clark (do uzupełnienia)
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=