# Wymagane zmienne dla środowiska Backend
# Port na którym zostanie uruchomiony serwer
PORT=

# Adres URL Frontendu (do ustawień CORS)
FRONTEND_URL=

# Konfiguracja bazy danych MongoDB (do uzupełnienia)
MONGODB_URI=
